@require '../../core/index.styl'
@require '../../utils/vars.styl'
@require '../../components/button/index.styl'

.item_product {
  font-size: 16px

  .item-title,
  .item-img,
  .item-btn {
    display: block
  }

  .item-title {
    max-width: 100%
    margin-bottom: 15px
    font-weight: 700
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  }

  .item-img {
    margin-bottom: 15px
  }

  .item-btn {
    margin-top: 15px
  }
}
