@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../components/button/index.styl'

.item_product {
  font-size: 16px

  .item-title {
    display: block
    font-weight: 700
    margin-bottom: 15px
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  }

  .item-img {
    display: block
    margin-bottom: 15px
  }

  .item-price-qty {
    align-items: center
    display: flex
    justify-content: space-between
  }

  .item-price {
    font-weight: 700
  }

  .item-qty {

    > label {
      align-items: center
      display: flex
      justify-content: space-between
      width: 100px

      .qty-input {
        border-bottom: 1px solid colors.neutral
        border: 0
        padding: 10px 5px
        text-align: center
        width: 60px
      }
    }
  }

  .item-btn {
    display: block
    margin-top: 15px
  }
}
