@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../components/button/index.styl'

.item_product {
  font-size: 16px

  .item-title {
    display: block
    max-width: 100%
    margin-bottom: 15px
    font-weight: 700
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  }

  .item-img {
    display: block
    margin-bottom: 15px
  }

  .item-price-qty {
    display: flex
    justify-content: space-between
    align-items: center
  }

  .item-price {
    font-weight: 700
  }

  .item-qty {

    > label {
      display: flex
      justify-content: space-between
      align-items: center
      width: 100px

      .qty-input {
        width: 60px
        padding: 10px 5px
        border: 0
        border-bottom: 1px solid colors.neutral
        text-align: center
      }
    }
  }

  .item-btn {
    display: block
    margin-top: 15px
  }
}
