@import './reset.styl'
@import './social-icons.styl'
@import './typography.styl'
@import './mixins.styl'
@import './vars.styl'

body.outlines-disabled {
  *:focus {
    outline: none
  }
}

// accounting for fixed-positioned header
main {
  +media('>=' + BREAKPOINTS.header) {
    margin-top: HEADER_HEIGHT_WIDE
  }

  +media('<' + BREAKPOINTS.header) {
    margin-top: HEADER_HEIGHT_CONDENSED
  }
}

.sr-only {
  &:not([focusable]),
  &[focusable]:not(:focus) {
    @extend $hidden-offscreen
  }
}

.contain {
  margin: 0 auto
  max-width: 1140px
  padding: 0 15px
}

[dark-bg] {
  @extend $light-text
}

.material-icons,
.social-icons {
  font-size: inherit
}

.display-block {
  display: block
}

.general-page {
  .page-heading {
    margin-bottom: 40px
  }
}

.color_facebook {
  color: COLORS.facebook
}

.color_pinterest {
  color: COLORS.pinterest
}

.color_twitter {
  color: COLORS.twitter
}
