<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="/assets/favicon.png" type="image/png" />
<title><%= title %> | Petersen Parts</title>

<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- http://schema.org/Organization -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.petersenparts.com",
    "logo": "https://www.example.com/images/logo.png",
    "address": "1234 Fake Street",
    "email": "support@petersenparts.com",
    "name": "Petersen Parts",
    "sameAs": [
      "http://www.facebook.com/your-profile",
      "http://instagram.com/yourProfile",
      "http://www.linkedin.com/in/yourprofile",
      "http://plus.google.com/your_profile"
    ]
  }
</script>
