ASSET_PATH = '/redesign/assets'

breakpoints = {
  header: 820px
  mobile: 780px
}

colors = {
  blue: #1b62b3
  blue_light: #dbf0f4
  facebook: #3c5a96
  grey: #f3f4f4
  negative: #cc2929
  neutral: #1d222e
  neutral_80: #4a4e57
  neutral_60: #777a81
  neutral_40: #a4a6ab
  neutral_25: #c7c8cb
  neutral_15: #dddedf
  neutral_05: #f4f4f5
  pinterest: #ca242d
  secondary_dark: #164883
  twitter: #1ea1e6
  yellow: #ffc800
}

speeds = {
  default: .2s
}

z-indexes = {
  header: 1000
}
