@require '../../core/index.styl'
@require '../../core/vars.styl'

text-inputs() {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"] {
    {block}
  }
}

placeholder() {
  // need to be individual rules due to browsers acting weird
  &:-moz-placeholder {
    {block}
  }
  &:-ms-input-placeholder {
    {block}
  }
  &::-moz-placeholder {
    {block}
  }
  &::-webkit-input-placeholder {
    {block}
  }
  &::placeholder {
    {block}
  }
}

form {

  +text-inputs() {
    background: transparent
    border: 0
    display: block
    width: 100%

    +placeholder() {
      color: colors.neutral_40
    }

    &:not([bare]):not([bottom-line]) {
      border: 1px solid colors.neutral
    }

    &[bottom-line] {
      border-bottom: 1px solid colors.neutral
    }
  }
}

[dark-bg] form {
  color: white

  +text-inputs() {

    +placeholder() {
      color: alpha(white, .4)
    }

    &[bottom-line] {
      border-bottom-color: white
    }
  }
}
