@require '../../core/index.styl'
@require '../../core/vars.styl'

text-inputs() {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"] {
    {block}
  }
}

placeholder() {
  // need to be individual rules due to browsers acting weird
  &:-moz-placeholder {
    {block}
  }
  &:-ms-input-placeholder {
    {block}
  }
  &::-moz-placeholder {
    {block}
  }
  &::-webkit-input-placeholder {
    {block}
  }
  &::placeholder {
    {block}
  }
}

form {

  +text-inputs() {
    background: transparent
    border: 0
    border-color: colors.neutral
    border-style: solid
    display: block
    width: 100%

    +placeholder() {
      color: colors.neutral_40
    }

    &:not([bare]):not([bottom-line]) {
      border-width: 1px
      padding: 10px
    }

    &[bottom-line] {
      border-bottom-width: 1px
    }
  }

  .labeled-input {
    display: flex
    flex-direction: column

    &:not(:last-child) {
      margin-bottom: 15px
    }

    > span {
      font-size: 10px
      margin-bottom: 10px
      text-transform: uppercase
    }
  }
}

[dark-bg] form {
  color: white

  +text-inputs() {
    border-color: white

    +placeholder() {
      color: alpha(white, .4)
    }

    &[bottom-line] {
      // border-bottom-color: white
    }
  }
}
