@require '../../core/index.styl'
@require '../../core/vars.styl'

form {

  input {
    background: transparent
    display: block
    width: 100%

    &[bottom-line] {
      border: 0
      border-bottom: 1px solid
    }
  }
}

[dark-bg] form {
  color: white

  input[bottom-line] {
    border-bottom-color: white
  }
}
