column-count = 12

/* e.g.
 * <div grid>
 *   <div column-width="1"></div>
 * </div>
 */
[grid] {
  display: flex

  [column-width] {
    flex: 1
  }

  for number in range(1, column-count) {
    [column-width=\"{number}\"] {
      width: (100% * (number / column-count))
      max-width: @width
    }
  }
}
