@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../rate-stars/index.styl'

.review-item {
  display: flex
  flex-direction: column

  .review-meta {
    color: colors.neutral_60
    font-size: 13px
    margin-top: 8px
  }

  .review-body {
    color: colors.neutral_80
    line-height: 1.5
    margin-top: 8px
  }
}
