<% this.setDefaults(locals, {
  active: '',
  className: false
}) %>

<% if (className) { %>
  <header class="<%= className %>">
<% } else { %>
  <header>
<% } %>
  <div class="header-body" wide>
    <div class="constrain">
      <div class="header-main">
        <a class="header-logo" href="#">
          <img src="/assets/header-logo.png" alt="Petersen Parts logo">
        </a>

        <ul class="header-nav_main list" menu>
          <li class="list-item"<% if (active === 'products') { %> active<% } %>><a href="#">Products</a></li>
          <li class="list-item"<% if (active === 'blog') { %> active<% } %>><a href="#">Blog</a></li>
          <li class="list-item"<% if (active === 'about') { %> active<% } %>><a href="#">About</a></li>
          <li class="list-item"<% if (active === 'installation') { %> active<% } %>><a href="#">Installation</a></li>
          <li class="list-item"><a href="#">Contact</a></li>
        </ul>
      </div>

      <ul class="header-nav_utility list" menu bold>
        <li class="list-item" badge="5"><a href="#">Shopping cart</a></li>
        <li class="list-item"><a href="#">Log in</a></li>
      </ul>
    </div>
  </div>

  <div class="header-body" condensed>
    <div class="constrain">
      <button class="header-nav-toggle">
        <i class="bar_top"></i>
        <i class="bar_middle"></i>
        <i class="bar_bottom"></i>
      </button>

      <a class="header-link header-logo" href="#">
        <img src="/assets/header-logo.png" alt="Petersen Parts logo">
      </a>

      <a class="header-link header-cart" href="#" badge="5">
        <i class="material-icons">shopping_cart</i>
      </a>
    </div>
  </div>

  <div id="site-header-flyout" class="header-flyout" dark-bg>
    <ul class="header-nav_main list" menu-blocks>
      <li class="list-item"<% if (active === 'products') { %> active<% } %>><a href="#">Products</a></li>
      <li class="list-item"<% if (active === 'blog') { %> active<% } %>><a href="#">Blog</a></li>
      <li class="list-item"<% if (active === 'about') { %> active<% } %>><a href="#">About</a></li>
      <li class="list-item"<% if (active === 'installation') { %> active<% } %>><a href="#">Installation</a></li>
      <li class="list-item"><a href="#">Contact</a></li>
      <li class="list-item" bold><a href="#">Log in</a></li>
    </ul>
  </div>
</header>
