@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../core/mixins.styl'
@require '../../components/list/index.styl'
@require '../../components/nav-toggle/index.styl'

device-breakpoint = 820px

wide() {
  +media('>=' + device-breakpoint) {
    {block}
  }
}

condensed() {
  +media('<' + device-breakpoint) {
    {block}
  }
}

.site-header {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5)
  left: 0
  min-width: 300px
  position: fixed
  top: 0
  width: 100%

  +condensed() {
    padding-bottom: 10px
    padding-top: @padding-bottom

    .header_wide {
      display: none
    }
  }

  +wide() {
    padding-bottom: 20px
    padding-top: @padding-bottom

    .header_condensed {
      display: none
    }
  }

  .header_wide,
  .header_condensed {

    > .constrain {
      display: flex
      justify-content: space-between
    }
  }
}

.header_wide {
  logo = {
    height: 30px
    width: 227px
  }

  .header-logo {
    background-image: url(ASSET_PATH + '/header-logo.png')
    display: block
    height: logo.height
    width: logo.width
    background-size: @width @height
  }

  .header-main {
    display: flex

    .header-logo {
      margin-right: 40px
    }
  }

  .header-nav_main,
  .header-nav_utility {
    align-items: center
    height: logo.height
  }
}

.header_condensed {

  .header-link {
    display: block
    font-size: 0
  }

  .header-logo {
    background-image: url(ASSET_PATH + '/header-logo.png')
    height: 24px
    width: 170px
    background-size: @width @height
  }

  .header-cart .material-icons {
    font-size: 24px
  }

  &:not([opened]) .header-flyout {
    display: none
  }

  .header-flyout {
    background-color: colors.neutral
    left: 0
    position: absolute
    top: 100%
    width: 100%
  }
}
