@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../components/list/index.styl'

logo = {
  height: 30px
  width: 227px
}

.site-header {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5)
  left: 0
  position: fixed
  top: 0
  width: 100%

  > .constrain {
    display: flex
    justify-content: space-between
    padding-bottom: 17px
    padding-top: 18px
  }

  .header-logo {
    background-image: url(ASSET_PATH + '/header-logo.png')
    background-size: logo.width logo.height
    display: block
    height: logo.height
    width: logo.width
  }

  .header-main {
    display: flex

    .header-logo {
      margin-right: 40px
    }
  }

  .header-nav_main,
  .header-nav_utility {
    align-items: center
    height: logo.height
  }
}
