@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../core/mixins.styl'
@require '../../components/list/index.styl'
@require '../../components/nav-toggle/index.styl'

wide-device() {
  +media('>=' + breakpoints.header) {
    {block}
  }
}

condensed-device() {
  +media('<' + breakpoints.header) {
    {block}
  }
}

.site-header {

  +wide-device() {
    .header-flyout {
      display: none
    }
  }

  +condensed-device() {

    .header-nav-toggle {
      @extend $nav-toggle
    }

    // header opened
    &[opened] {

      .header-nav-toggle {
        @extend $nav-toggle_opened
      }

      .header-flyout {
        transform: translateX(100%)
      }
    }
  }

  /* both wide and condensed header */
  .header-body {
    background-color: white
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5)
    left: 0
    min-width: 300px
    position: fixed
    top: 0
    width: 100%
    z-index: z-indexes.header

    +wide-device() {
      padding-bottom: 20px
      padding-top: @padding-bottom

      // condensed header on wide devices
      &[condensed] {
        display: none
      }
    }

    +condensed-device() {
      padding-bottom: 10px
      padding-top: @padding-bottom

      // wide header on condensed devices
      &[wide] {
        display: none
      }
    }

    > .constrain {
      display: flex
      justify-content: space-between
    }
  }

  /* wide header */
  .header-body[wide] {
    logo = {
      height: 30px
      width: 227px
    }

    .header-logo {
      background-image: url(ASSET_PATH + '/header-logo.png')
      display: block
      height: logo.height
      width: logo.width
      background-size: @width @height
    }

    .header-main {
      display: flex

      .header-logo {
        margin-right: 40px
      }
    }

    .header-nav_main,
    .header-nav_utility {
      align-items: center
      height: logo.height
    }
  }

  /* condensed header */
  .header-body[condensed] {
    logo = {
      height: 24px
      width: 170px
    }

    .header-nav-toggle {
      height: logo.height
      width: @height
    }

    .header-link {
      display: block
      font-size: 0
    }

    .header-logo {
      background-image: url(ASSET_PATH + '/header-logo.png')
      height: logo.height
      width: logo.width
      background-size: @width @height
    }

    .header-cart .material-icons {
      font-size: logo.height
    }
  }

  /* header flyout */
  .header-flyout {
    // content height + padding
    condensed-height = (24px + 20px)
    background-color: colors.neutral
    height: s('calc(100% - %s)', condensed-height)
    overflow: auto
    position: fixed
    right: 100%
    top: condensed-height
    transform: translateX(0)
    transition: transform speeds.default
    width: 100%
  }
}
