@require './reset.styl'
@require './typography.styl'
@require './vars.styl'
@require './mixins.styl'

// accounting for fixed-positioned header
main {

  +media('>=' + breakpoints.header) {
    margin-top: 70px
  }

  +media('<' + breakpoints.header) {
    margin-top: 53px
  }
}

.sr-only {
  &:not([focusable]),
  &[focusable]:not(:focus) {
    height: 1px
    left: -9999px
    overflow: hidden
    position: absolute
    top: @left
    width: 1px
  }
}

.constrain {
  margin: 0 auto
  max-width: 1140px
  padding: 0 15px
}

[dark-bg] {
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
}

.material-icons {
  font-size: inherit
}

.display-block {
  display: block
}

.general-page {

  +media('>=' + breakpoints.mobile) {
    padding-bottom: 65px
    padding-top: @padding-bottom
  }

  +media('<' + breakpoints.mobile) {
    padding-bottom: 30px
    padding-top: @padding-bottom
  }

  .page-heading {
    margin-bottom: 40px
  }
}
