@require './reset.styl'
@require './typography.styl'
@require './vars.styl'
@require './mixins.styl'

// accounting for fixed-positioned header
main {

  +media('>=' + breakpoints.header) {
    margin-top: 70px
  }

  +media('<' + breakpoints.header) {
    margin-top: 44px
  }
}

.constrain {
  max-width: 1140px
  margin: 0 auto
  padding: 0 15px
}

[dark-bg] {
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
}

.display-block {
  display: block
}
