$clip-line {
  // because overflow cuts off text
  line-height: 1.2
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
}

$hidden-offscreen {
  height: 1px
  left: -9999px
  overflow: hidden
  position: absolute
  top: @left
  width: 1px
}

$light-text {
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
}

/*
 * input: +media('<320px') { ... }
 * output: @media screen and (max-width: 320px) { ... }
 *
 * examples:
 * - +media('>100px', '<=200px')
 * - +media('>=20px', '<90px')
 */
media(conditions...) {
  params = 'screen'

  for condition in conditions {
    op = match('^<=|>=|<|>', condition)
    value = convert(match('\d+\w+$', condition))

    if (op is '<=') {
      value = value + 1
    } else if (op is '>=') {
      value = value - 1
    }

    if (op is '<' or op is '<=') {
      op = 'max-width'
    } else if (op is '>' or op is '>=') {
      op = 'min-width'
    }

    params = params + ' and (' + op + ': ' + value + ')'
  }

  @media params {
    {block}
  }
}

text-inputs() {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  textarea {
    {block}
  }
}

placeholder() {
  // need to be individual rules due to browsers acting weird
  &:-moz-placeholder {
    {block}
  }
  &:-ms-input-placeholder {
    {block}
  }
  &::-moz-placeholder {
    {block}
  }
  &::-webkit-input-placeholder {
    {block}
  }
  &::placeholder {
    {block}
  }
}
