@require '../core/vars.styl'

*,
:before,
:after {
  box-sizing: inherit
  color: inherit
  font-size: inherit
  line-height: inherit
  margin: 0
  padding: 0
}

html {
  box-sizing: border-box
}

body {
  background-color: #fff
  color: colors.neutral_80
  font-family: 'Libre Franklin', sans-serif
  font-size: 16px
  line-height: 1
  min-width: 300px
}

a {
  text-decoration: none

  &:hover {
    text-decoration: underline
  }
}

hr {
  background-color: rgba(29, 34, 46, .25)
  border: 0
  height: 1px
  width: 100%
}

img {
  backface-visibility: hidden
  max-width: 100%
}

fieldset {
  border: 0
}
