@require '../utils/vars.styl'

*,
:before,
:after {
  line-height: inherit
  margin: 0
  padding: 0
  color: inherit
  box-sizing: inherit
}

html {
  box-sizing: border-box
}

body {
  background-color: #fff
  min-width: 300px
  line-height: 1
  font-family: 'Libre Franklin', sans-serif
  font-size: 16px
  color: colors.neutral_80
}
