ASSET_PATH = '/redesign/assets'

colors = {
  neutral: #1d222e
  neutral_80: #4a4e57
  neutral_60: #777a81
  neutral_40: #a4a6ab
  neutral_25: #c7c8cb
  neutral_15: #dddedf
  neutral_05: #f4f4f5
  secondary_dark: #164883
  secondary_light: #dbf0f4
  yellow: #ffc800
}

speeds = {
  default: .2s
}
