<% this.setDefaults(locals, {
  rateStarsId: '',
  reviews: []
}) %>

<div class="product-review">
  <div class="review-form">
    <form action="#">
      <fieldset>
        <legend class="review-heading">Rate this product</legend>
        <%- include('../rate-stars/rate-stars.ejs', {
          className: 'form-rate',
          editable: true,
          id: rateStarsId,
          wide: true
        }) %>
      </fieldset>

      <!-- <label class="form-input">
        <h3 class="review-subheading">Leave a review (optional)</h3>
        <textarea name="body" rows="5" placeholder="Your review..."></textarea>
      </label>

      <div class="review-actions">
        <button class="btn_dark" title="Save your rating">Save</button>
        <button class="btn_bare review-delete" title="Delete your rating">Delete</button>
      </div> -->
    </form>
  </div>
  <hr class="review-separator" />
  <h2 class="review-heading">Reviews</h2>
  <ul class="review-list">
    <% reviews.forEach(review => { %>
      <%- include('../review-item/review-item.ejs', Object.assign(review, {
        className: 'list-item'
      })) %>
    <% }) %>
  </ul>
</div>
