@import '../../_core/mixins.styl'
@import '../../_core/vars.styl'
@import '../../components/blog-item/blog-item.styl'
@import '../../components/category-item/category-item.styl'
@import '../../components/grid/grid.styl'
@import '../../components/info-blocks/info-blocks.styl'
@import '../../components/section/section.styl'

.home-hero {
  background-image: url('/assets/field.jpg')
  background-size: cover
  height: 80vh
  padding: (@height * .15) 0
  width: 100%

  .contain {
    align-items: center
    display: flex
    height: 100%
    justify-content: space-between
  }
}

.home-section[grey] {
  background-color: COLORS.grey

  h2 {
    color: COLORS.blue
  }
}

.home-dark-block {
  background-color: COLORS.neutral
}

.home-light-block {
  background-color: COLORS.yellow
}
