<html lang="en">
  <head>
    <%- include('/_core/page-meta.ejs', { title: 'Home' }) %>
  </head>
  <body>
    <div>
      <span>Here is my home button</span>
      <%- include('/components/button/button.ejs', { id: 'home-button' }) %>
    </div>

    <script src="/pages-home.js"></script>
  </body>
</html>
