<div class="showcase">
  <%- include('./rate-stars.ejs') %>
</div>

<div class="showcase">
  <%- include('./rate-stars.ejs', {
    stars: 3
  }) %>
</div>

<div class="showcase">
  <%- include('./rate-stars.ejs', {
    editable: true,
    id: 'demo-stars',
    wide: true
  }) %>
</div>
