@import '../../_core/mixins.styl'
@import '../../_core/vars.styl'
@import '../../components/grid/grid.styl'
@import '../../components/info-blocks/info-blocks.styl'
// @import '../../components/media-gallery/media-gallery.styl'
// @import '../../components/product-info/product-info.styl'
@import '../../components/option-buttons/option-buttons.styl'
@import '../../components/product-item/product-item.styl'
// @import '../../components/product-review/product-review.styl'
@import '../../components/section/section.styl'

.product-main {
  breakpoint = 650px

  .main-condensed-show {
    +media('>=' + breakpoint) {
      display: none
    }
  }

  .main-condensed-hide {
    +media('<' + breakpoint) {
      display: none
    }
  }

  +media('>=' + breakpoint) {
    .constrain {
      align-items: flex-start
      display: flex
      justify-content: space-between
    }

    .main-gallery,
    .main-info {
      width: 47%
    }
  }

  +media('<' + breakpoint) {
    .main-gallery {
      margin: 25px 0
    }
  }
}

.product-grey-block {
  background-color: colors.grey
}

.product-blue-block {
  background-color: colors.blue_light
}

.product-reviews {
  background-color: colors.grey

  .product-review {
    margin: 0 auto
    max-width: 525px
  }
}
