<h3>horizontal</h3>
<%- include('../../components/social-share/social-share.ejs', { direction: 'horizontal' }) %>
<h3>vertical</h3>
<%- include('../../components/social-share/social-share.ejs', { direction: 'vertical' }) %>
