<% this.setDefaults(locals, {
  className: '',
  direction: 'horizontal'
}) %>

<div class="social-share <%= className %>" <%= direction %>>
  <span class="share-label">Share</span>
  <a href="#" class="share-link social-icons color_facebook">facebook</a>
  <a href="#" class="share-link social-icons color_twitter">twitter</a>
  <a href="#" class="share-link social-icons color_pinterest">pinterest</a>
</div>
