@import '../../_core/vars.styl'
@import '../button/button.styl'
@import '../form/form.styl'
@import '../list/list.styl'
@import '../option-buttons/option-buttons.styl'
@import '../rate-stars/rate-stars.styl'

breakpoint = 850px

.product-info {

  .info-title {
    font-size: 31px
    font-weight: 700
  }

  .info-rating {
    margin-top: 10px
  }

  .info-price {
    display: block
    font-size: 25px
    margin-top: 15px
  }

  .info-description {
    line-height: 1.5
    margin-top: 15px

    .list {
      margin-top: 10px
      padding-left: 1em

      +media('>=' + breakpoint) {
        line-height: 2
      }

      +media('<' + breakpoint) {
        line-height: 1.5
      }
    }
  }

  .info-options {
    margin-top: 30px

    .info-option {

      &:not(:last-child) {
        margin-bottom: 15px
      }

      .option-heading {
        color: colors.neutral_60
        font-size: 18px
        font-weight: 300
        margin-bottom: 10px
        text-transform: uppercase
      }
    }
  }

  .info-separator {
    margin: 25px 0
  }

  .info-atc {
    display: flex

    .atc-quantity {
      align-items: center
      display: flex
      margin-right: 30px

      > span {
        margin-right: 5px
      }

      > input {
        padding: 5px
        text-align: center
        width: 60px
      }
    }
  }

  .info-oos {

    .oos-helper {
      display: block
      margin-bottom: 15px

      em {
        color: colors.negative
        font-style: normal
      }
    }

    .oos-input {
      max-width: 350px
    }
  }
}
