<!doctype html>
<html lang="en">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Product List' }) %>
    <link rel="stylesheet" href="./product-list.css">
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { active: 'products', className: 'site-header' }) %>

    <main class="general-page">
      <section class="section">
        <div class="constrain">
          <%- include('../../components/page-heading/page-heading.ejs', {
            heading: 'Products',
            placeholder: 'Search products',
            withSearch: true
          }) %>

          <div class="grid" three-col>
            <!-- -->
          </div>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./product-list.js"></script>
  </body>
</html>
