@import '../../_core/vars.styl'
@import '../button/button.styl'
@import '../form/form.styl'
@import '../rate-stars/rate-stars.styl'

.item_product {
  font-size: 16px

  .item-title {
    @extend $clip-line
    display: block
    font-weight: 700
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  }

  .item-img {
    height: 0
    margin-top: 15px
    overflow: hidden
    padding-top: percentage(150 / 270)
    position: relative

    > img {
      left: 50%
      max-width: 100%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
    }
  }

  .item-rating {
    margin-top: 10px
  }

  .item-price {
    display: block
    font-weight: 700
    margin-top: 10px
  }

  .item-atc {
    display: flex
    justify-content: space-between
    margin-top: 10px

    .atc-quantity {
      align-items: center
      display: flex
      margin-right: 30px

      > span {
        margin-right: 5px
      }

      > input {
        padding: 5px
        text-align: center
        width: 60px
      }
    }
  }
}
