@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../components/button/index.styl'
@require '../../components/form/index.styl'
@require '../../components/rate-stars/index.styl'
@require '../../components/review-item/index.styl'

.product-review {

  .review-separator {
    margin: 25px 0
  }

  .review-heading {
    color: colors.neutral
    font-size: 20px
    font-weight: 300
    margin-bottom: 20px
  }

  .review-subheading {
    font-weight: bold
    margin-bottom: 15px
  }

  .review-form {

    .form-rate {
      font-size: 30px
    }

    +text-inputs() {
      border-color: colors.neutral_15
    }

    .form-input {
      display: block
      margin-top: 15px
    }
  }

  .review-actions {
    display: flex
    margin-top: 15px

    [class*="btn"]:not(:last-child) {
      margin-right: 15px
    }

    .btn_bare {
      font-size: 14px
    }

    .review-delete {
      color: colors.negative
    }
  }

  .review-list {
    margin-top: 5px

    .list-item {
      margin-top: 25px
    }
  }
}
