@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../components/button/index.styl'
@require '../../components/form/index.styl'
@require '../../components/rate-stars/index.styl'
@require '../../components/review-item/index.styl'

.product-review {

  .review-separator {
    background-color: rgba(29, 34, 46, .25)
    margin: 25px 0
  }

  .review-heading {
    color: colors.neutral
    font-size: 20px
    font-weight: 300
  }

  .review-subheading {
    font-weight: bold
    margin-bottom: 15px
  }

  .review-rate .rate-stars {
    font-size: 30px
    margin-top: 20px
  }

  .review-form {
    margin-top: 25px

    +text-inputs() {
      border-color: colors.neutral_15
    }

    .form-submit {
      margin-top: 15px
    }
  }

  .review-list {
    margin-top: 5px

    .list-item {
      margin-top: 25px
    }
  }
}
