@import '../../_core/vars.styl'
@import '../../_core/mixins.styl'
@import '../subscribe-box/subscribe-box.styl'

.site-footer {
  background-color: colors.neutral

  +media('>=' + breakpoints.mobile) {
    padding: 65px 0
  }

  +media('<' + breakpoints.mobile) {
    padding: 40px 0
  }

  .contain {
    display: flex
    flex-direction: column
    align-items: center
  }

  .footer-subscribe {
    max-width: 345px
  }

  .footer-hr {
    background-color: alpha(white, .25)
    border: 0
    height: 1px
    width: 160px

    +media('<=' + breakpoints.mobile) {
      margin: 30px 0
    }

    +media('>' + breakpoints.mobile) {
      margin: 40px 0
    }
  }

  .footer-info {
    color: white
    font-size: 12px

    span {
      display: block
    }

    .info-copyright {
      color: alpha(white, .6)
      margin-top: 15px
    }
  }
}
