<footer class="site-footer" dark-bg>
  <div class="contain">
    <%- include('../subscribe-box/subscribe-box.ejs', {
      action: 'Get those puppy kisses!',
      className: 'footer-subscribe',
      placeholder: 'janedoe@gmail.com',
      title: 'Subscribe for puppy kisses!'
    }) %>

    <hr class="footer-hr">

    <div class="footer-info">
      <span><a href="tel:5072250286">(507) 225-0286</a> M-F 9:00-6:00</span>
      <span class="info-copyright">Copyright &copy; 2018 Petersen Parts</span>
    </div>
  </div>
</footer>
