@import '../../_core/vars.styl'

.item_category {

  .item-title,
  .item-img {
    display: block
  }

  .item-title {
    @extend $clip-line
    font-size: 20px
    font-weight: 300
    margin-bottom: 10px
  }

  .item-img {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1), 0 6px 6px -3px rgba(0, 0, 0, .2)
  }
}
