.showcase {
  margin-bottom: 15px
  padding: 15px

  > h4 {
    margin-bottom: 15px

    > i.vr {
      display: inline-block
      font-style: normal
      font-weight: 400
      margin: 0 10px
    }
  }
}
