@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../components/form/index.styl'
@require '../../components/button/index.styl'

.subscribe-box {
  width: 100%

  .subscribe-label,
  .subscribe-input,
  .subscribe-btn {
    display: block
  }

  .subscribe-label {
    font-size: 25px
  }

  .subscribe-input,
  .subscribe-btn {
    margin-top: 25px
  }

  .subscribe-input {
    line-height: 2
  }

  .subscribe-btn {
    width: 100%
  }
}
