@import '../../_core/vars.styl'

.list {
  list-style-type: none
}

// dark variant
[dark-bg] .list {
  > .list-item {
    color: white
  }
}

// bold variants
.list {
  &[bold] > .list-item,
  > .list-item[bold] {
    font-weight: 700
  }
}

/*
 * default
 */
.list:not([bare]):not([menu]):not([menu-blocks]) {
  > li {
    padding-left: 1em
    position: relative

    &:before {
      content: '•'
      left: 0
      position: absolute
    }
  }
}

/*
 * menu
 */
.list[menu] {
  display: flex

  > .list-item {
    font-size: 10px
    text-transform: uppercase

    > a {
      display: block
      padding: 5px 5px
      position: relative

      // underline
      &:after {
        background-color: COLORS.neutral_80
        bottom: 0
        content: ''
        display: none
        height: 1px
        left: 5px
        position: absolute
        right: 5px
      }

      &:hover {
        text-decoration: none
      }
    }

    &:hover,
    &.list-item[active] {
      > a:after {
        display: block
      }
    }

    &:not(:first-child) {
      margin-left: 15px
    }

    &:first-child {
      > a {
        padding-left: 0

        &:after {
          left: 0
        }
      }
    }

    &:last-child {
      > a {
        padding-right: 0

        &:after {
          right: 0
        }
      }
    }
  }
}

/*
 * menu-blocks
 */
.list[menu-blocks] {

  > .list-item {
    font-size: 10px
    text-transform: uppercase

    &:not(:last-child) {
      border-bottom: 1px solid COLORS.neutral
    }

    > a {
      display: block
      padding: 15px
      text-decoration: none
    }
  }
}

[dark-bg] .list[menu-blocks] {
  > .list-item:not(:last-child) {
    border-bottom-color: alpha(white, .25)
  }
}
