@require '../../lib/core/index.styl'
@require '../../lib/core/vars.styl'
@require '../../lib/widgets/header/index.styl'
@require '../../lib/widgets/product-review/index.styl'
@require '../../lib/widgets/footer/index.styl'

.product-reviews {
  background-color: colors.grey

  .product-review {
    margin: 0 auto
    max-width: 525px
  }
}
