@require '../../core/index.styl'
@require '../../core/mixins.styl'
@require '../../core/vars.styl'

[class*="btn_"] {
  background-color: transparent
  border: 0
  cursor: pointer
  opacity: 1
  transition: opacity speeds.default

  &:not(.btn_bare) {
    font-size: 14px
    padding: 10px 15px
    text-transform: uppercase
  }

  &:hover {
    opacity: .8
  }

  &:focus {
    opacity: 1
  }
}

.btn_bare {
  padding: 0
}

.btn_large {
  min-width: 100px
  padding: 15px 25px
}

.btn_border {
  border: 1px solid colors.neutral
}

.btn_dark {
  @extend $light-text
  background-color: colors.neutral
  border: 1px solid colors.neutral
  color: white
}

.btn_light {
  background-color: colors.yellow
  border: 1px solid colors.neutral
  color: colors.neutral
}
