@require '../../core/index.styl'
@require '../../core/mixins.styl'
@require '../../core/vars.styl'

[class*="btn"] {
  background-color: transparent
  border: 0
  opacity: 1

  &:not([disabled]) {
    cursor: pointer
    transition: opacity speeds.default

    &:hover {
      opacity: .8
    }

    &:focus {
      opacity: 1
    }
  }

  &:not(.btn_bare) {
    font-size: 14px
    padding: 10px 15px
    text-transform: uppercase
  }

  &[disabled] {
    cursor: not-allowed
    opacity: .3
  }
}

.btn_bare {
  padding: 0
}

.btn_border {
  border: 1px solid colors.neutral
}

.btn_dark {
  @extend $light-text
  background-color: colors.neutral
  border: 1px solid colors.neutral
  color: white
}

.btn_light {
  background-color: colors.yellow
  border: 1px solid colors.neutral
  color: colors.neutral
}
