@require '../../lib/core/index.styl'
@require '../../lib/widgets/header/index.styl'
@require '../../lib/widgets/info-blocks/index.styl'
@require '../../lib/widgets/footer/index.styl'
@require '../../lib/core/vars.styl'

.home-info-blocks {

  .home-dark-block {
    background-color: colors.neutral
  }

  .home-light-block {
    background-color: colors.yellow
  }
}
