@require '../../lib/core/index.styl'
@require '../../lib/core/mixins.styl'
@require '../../lib/core/vars.styl'
@require '../../lib/components/category-item/index.styl'
@require '../../lib/components/blog-item/index.styl'
@require '../../lib/components/grid/index.styl'
@require '../../lib/components/section/index.styl'
@require '../../lib/widgets/header/index.styl'
@require '../../lib/widgets/info-blocks/index.styl'
@require '../../lib/widgets/footer/index.styl'

.home-section[off-color] {
  background-color: colors.grey

  h2 {
    color: colors.blue
  }
}

.home-dark-block {
  background-color: colors.neutral
}

.home-light-block {
  background-color: colors.yellow
}
