@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../core/mixins.styl'
@require '../../components/content-section/index.styl'
@require '../../components/list/index.styl'

.info-blocks {
  display: flex

  +media('>=' + breakpoints.mobile) {
    .info-block {
      width: 50%
    }
  }

  +media('<' + breakpoints.mobile) {
    flex-direction: column

    .info-block {
      width: 100%
    }
  }
}

.info-block {
  align-items: center
  display: flex
  justify-content: space-around
  padding-left: 15px
  padding-right: @padding-left

  .block-content {
    .list {
      line-height: 1.5
    }
  }

  .block-heading {
    margin-bottom: 25px
  }
}
