@require '../../core/index.styl'
@require '../../core/vars.styl'
@require '../../core/mixins.styl'
@require '../../components/list/index.styl'

.info-blocks {
  display: flex

  +media('>=' + breakpoints.mobile) {
    .info-block {
      width: 50%
    }
  }

  +media('<' + breakpoints.mobile) {
    flex-direction: column

    .info-block {
      width: 100%
    }
  }
}

.info-block {
  align-items: center
  display: flex
  justify-content: space-around
  padding-left: 15px
  padding-right: @padding-left

  +media('>=' + breakpoints.mobile) {
    padding-bottom: 65px
    padding-top: @padding-bottom
  }

  +media('<' + breakpoints.mobile) {
    padding-bottom: 40px
    padding-top: @padding-bottom
  }

  .block-content {

    h3 {
      font-size: 25px
      margin-bottom: 25px
    }

    .list {
      line-height: 1.5
    }
  }
}

.info-block[dark-bg] {
  color: white
}
