@import '../../_core/mixins.styl'
@import '../../_core/vars.styl'
@import '../button/button.styl'
@import '../form/form.styl'

.page-heading {
  border-bottom: 1px solid colors.neutral

  +media('>=' + breakpoints.mobile) {
    padding-bottom: 15px
  }

  +media('<' + breakpoints.mobile) {
    padding-bottom: 10px
  }

  h1 {
    color: colors.neutral
    font-size: 31px

    +media('<' + breakpoints.mobile) {
      width: 100%
    }
  }
}

.page-heading[with-search] {
  align-items: flex-end
  display: flex
  justify-content: space-between

  +media('<' + breakpoints.mobile) {
    flex-direction: column

    h1 {
      margin-bottom: 15px
    }
  }

  .heading-search {
    display: flex

    +media('>=' + breakpoints.mobile) {
      width: 340px
    }

    +media('<' + breakpoints.mobile) {
      width: 100%
    }

    .search-input {
      margin-right: 5px
    }
  }
}

[dark-bg] .page-heading {
  border-bottom-color: white

  h1 {
    color: white
  }
}
