@import '../../_core/mixins.styl'
@import '../../_core/vars.styl'
@import '../button/button.styl'
@import '../form/form.styl'

wide-device() {
  +media('>=' + breakpoints.mobile) {
    {block}
  }
}

condensed-device() {
  +media('<' + breakpoints.mobile) {
    {block}
  }
}

.page-heading {
  border-bottom: 1px solid colors.neutral

  h1 {
    color: colors.neutral
    font-size: 31px

    +wide-device() {
      margin-bottom: 15px
    }

    +condensed-device() {
      width: 100%
    }
  }
}

.page-heading[with-search] {
  align-items: flex-end
  display: flex
  justify-content: space-between

  +condensed-device() {
    flex-direction: column
  }

  .heading-search {
    display: flex

    +wide-device() {
      width: 340px
    }

    +condensed-device() {
      width: 100%
    }

    .search-input {
      +wide-device() {
        vert-padding = 15px
        padding-top: vert-padding
        padding-bottom: vert-padding
      }

      +condensed-device() {
        vert-padding = 10px
        padding-top: vert-padding
        padding-bottom: vert-padding
      }
    }

    .search-btn {
      horiz-padding = 5px
      padding-left: horiz-padding
      padding-right: horiz-padding
    }
  }
}

[dark-bg] .page-heading {
  border-bottom-color: white

  h1 {
    color: white
  }
}
