<div class="info-blocks"<% if (verticallyCenter) { %> vertically-center<% } %>>
  <% blocks.forEach(block => {
    const { className, dark, heading, list } = block
  %>
    <div class="section info-block <%= className %>"<% if (dark) { %> dark-bg<% } %>>
      <div class="constrain block-constrain">
        <h2 class="section-heading block-heading"><%= heading %></h2>
        <ul class="list">
          <% list.forEach(item => { %>
            <li class="list-item"><%= item %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% }) %>
</div>
