@import '../../_core/vars.styl'
@import '../../_core/mixins.styl'
@import '../list/list.styl'
@import '../section/section.styl'

.info-blocks {
  display: flex

  .info-block {
    display: flex

    .block-constrain {
      .list {
        line-height: 1.5
      }
    }

    .block-heading {
      margin-bottom: 25px
    }
  }

  +media('>=' + breakpoints.mobile) {
    .info-block {
      width: 50%

      .block-constrain {
        padding-left: 30px
        padding-right: 30px
      }
    }
  }

  +media('<' + breakpoints.mobile) {
    flex-direction: column

    .info-block {
      width: 100%
    }
  }
}

.info-blocks[vertically-center] {
  .info-block {
    align-items: center
  }
}

.info-blocks[spec-list] {
  +media('<' + breakpoints.mobile) {
    .block-constrain {
      width: 100%

      +media('>550px') {
        .list {
          display: flex
          flex-wrap: wrap

          > li {
            width: 50%
          }
        }
      }
    }
  }
}
