@import '../../_core/mixins.styl'
@import '../../_core/vars.styl'
@import '../../components/blog-item/blog-item.styl'
@import '../../components/grid/grid.styl'
@import '../../components/section/section.styl'
@import '../../components/social-share/social-share.styl'

content-width = 600px

.blog-post {

  .post-contain {
    max-width: content-width
    position: relative
  }

  .post-heading {
    padding-bottom: 30px
    padding-top: @padding-bottom

    .heading-title {
      color: COLORS.neutral
      font-size: 31px
      font-weight: 700
    }

    .heading-date {
      font-size: 10px
      margin-top: 5px
      text-transform: uppercase
    }
  }

  .post-social {
    // 45px (right margin) + 35px (width of social) + 5px (padding) = 85px
    breakpoint = (content-width + (85px * 2))

    +media('<' + breakpoint) {
      &.social-condensed {
        margin-bottom: 30px
      }

      &.social-wide {
        display: none
      }
    }

    +media('>=' + breakpoint) {
      &.social-condensed {
        display: none
      }

      &.social-wide {
        margin-right: 45px
        position: absolute
        right: 100%
        top: 0
      }
    }
  }

  .post-hero {
    align-items: center
    display: flex
    overflow: hidden

    +media('<' + BREAKPOINTS.mobile) {
      max-height: 250px
    }

    +media('>=' + BREAKPOINTS.mobile) {
      max-height: 400px
    }

    .hero-img {
      width: 100%
    }
  }

  .post-body {
    line-height: 1.5
    word-break: break-word

    h2 {
      color: COLORS.neutral
      font-size: 25px
      font-weight: 300
      margin-bottom: 1em
    }

    p {
      margin-bottom: 1em
    }
  }

  .post-hr {
    background-color: COLORS.neutral
    height: 8px
    margin: 30px 0
  }

  .post-nav {
    breakpoint = 420px
    gutter = 20px

    +media('<' + breakpoint) {
      .nav-item {
        margin-top: 30px
        width: 100%
      }
    }

    +media('>=' + breakpoint) {
      display: flex
      justify-content: space-between

      .nav-item {
        width: percentage(((content-width - gutter) / 2) / content-width)

        .item-label {
          font-size: 10px
          margin-bottom: 15px
          text-transform: uppercase
        }
      }
    }

    .nav-item {
      .item-label {
        font-size: 10px
        margin-bottom: 15px
        text-transform: uppercase
      }
    }
  }
}
