<div class="subscribe-box <%= className %>">
  <form action="#">
    <label for="subscribe-box-email" class="subscribe-label"><%= title %></label>
    <input class="subscribe-input" bottom-line name="subscribe-box-email" type="email" placeholder="<%= placeholder %>">
    <button class="subscribe-btn btn_light btn_large"><%= action %></button>
  </form>
</div>
